<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<!--create-report-->
	<listeners>
  		<listener class-name="Utilities.ExtentReportManager"/>
  	</listeners>
  <test thread-count="5" name="Test">
  
  	<classes>
  		
  		<!--UI testing-->
    	<class name="UiTest.TestCase1"/>
    	<class name="UiTest.TestCase2"/>
    	<class name="UiTest.TestCase3"/>
    	<class name="UiTest.TestCase4"/>
    	
    	<!--API testing-->
    	<class name="apiTest.apiTest1"/>
    	<class name="apiTest.apiTest2"/>
    	<class name="apiTest.apiTest3"/>
    		
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
